{% extends 'base.html' %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <title>Leaderboard</title>
    {% endblock meta %}
  </head>

  <body>
    {% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/deposit.js' %}"></script>
    
    

    <div class="card mb-4">
      <p class="font-bold text-4xl text-center pt-4">Leaderboard</p>
      <div class="card-body">
        <!-- btn group -->
        <div class="row mb-3">
          <div class="col">
              <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                  <label class="btn btn-outline-success rounded-0" for="btnradio1">TOP 10</label>
              
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                  <label class="btn btn-outline-success rounded-0" for="btnradio2">TOP 20</label>
              
              </div>
          </div>
        </div>

        <table
          class="table rounded-2 table-success table-striped table-hover table-bordered"
        >
          <thead>
            <tr class="text-center">
              <th>Rank</th>
              <th>User</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>testtttttttttttttt</td>
              <td>1961</td>
            </tr>
            <tr>
              <td>2</td>
              <td>The Eagles</td>
              <td>1972</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Earth, Wind, and Fire</td>
              <td>1975</td>
            </tr>
            <tr>
              <td>4</td>
              <td>testtttttttttttttt</td>
              <td>1961</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <!-- The button to open modal -->
        <p>
          Please write your comments here, the comments will be displayed on the page
        </p>
        <div>
          <label for="form-modal" class="mt-4 btn modal-button"
            >Send feedback</label
          >
        </div>
      </div>
    </div>

    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="form-modal" class="modal-toggle" />
    <label class="modal" for="form-modal">
      <label class="modal-box bg-white">
        <label
          for="form-modal"
          class="btn btn-sm btn-circle absolute right-2 top-2 text-black bg-white"
          >✕</label
        >
        <!-- Form -->
        <table>
          <form id="messageForm" method="POST" action="">
            {% csrf_token %}
            <tr>
              <div class="md-form ">
                <i class="fas fa-user prefix grey-text"></i>
                <label class="mb-2">Write your comment</label>
                {{ form }}
              </div>
            </tr>
          </form>
        </table>
        
        <!-- button submit (on progress) -->
        <tr colspan="2">
          <button class="btn d-grid gap-2 col-2 mx-auto" onclick="">
            Submit
          </button>
        </tr>
      </label>
    </label>
    {% endblock content %}
  </body>
</html>
