{% extends 'base.html' %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <title>Leaderboard</title>
    {% endblock meta %}
  </head>
  {% block content %}
  <body>
    <div class="card">
      <div class="card-body">
      <table class="table rounded-2 table-success table-striped table-hover table-bordered"
      >
        <thead>
          <tr class="text-center">
            <th>Rank</th>
            <th>User</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>testtttttttttttttt</td>
            <td>1961</td>
          </tr>
          <tr>
            <td>2</td>
            <td>The Eagles</td>
            <td>1972</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Earth, Wind, and Fire</td>
            <td>1975</td>
          </tr>
          <tr>
            <td>4</td>
            <td>testtttttttttttttt</td>
            <td>1961</td>
          </tr>
          <tr>
            <td>4</td>
            <td>testtttttttttttttt</td>
            <td>1961</td>
          </tr>
          <tr>
            <td>4</td>
            <td>testtttttttttttttt</td>
            <td>1961</td>
          </tr>
          <tr>
            <td>4</td>
            <td>testtttttttttttttt</td>
            <td>1961</td>
          </tr>
          <tr>
            <td>4</td>
            <td>testtttttttttttttt</td>
            <td>1961</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </body>
  {% endblock content %}
</html>
