{% extends 'base.html' %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <title>Leaderboard</title>
    {% endblock meta %}
  </head>
  {% block content %}
  <body>
    <table class="table-auto border-collapse border border-slate-400">
      <thead class="border border-slate-300">
        <tr class="text-center">
          <th>Rank</th>
          <th>User</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border border-slate-300">
          <td>1</td>
          <td>testtttttttttttttt</td>
          <td>1961</td>
        </tr>
        <tr class="border border-slate-300">
          <td>2</td>
          <td>The Eagles</td>
          <td>1972</td>
        </tr>
        <tr class="border border-slate-300">
          <td>3</td>
          <td>Earth, Wind, and Fire</td>
          <td>1975</td>
        </tr>
      </tbody>
    </table>
  </body>
  {% endblock content %}
  <html></html>
</html>
