{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        {% block meta %}
        <title>Waste Deposit</title>
        <link rel="stylesheet" href="{% static 'css/deposit.css' %}">
        {% endblock meta %}
    </head>

    <body>
        {% block content %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'js/deposit.js' %}"></script>
        <script>
            $(document).ready(() => setup());
        </script>

        <br>
        <div class="main-body">
            <!-- Upper Page / Header -->
            <div class="centered font-light">
                {% if is_logged_in %}
                <div class="text-3xl font-semibold leading-relaxed text-lg">
                    <span>Welcome back {{ username }}! You have </span>
                    <b><span class="point-count"></span></b>
                    <span> points.</span>
                </div>
                {% endif %} <br>

                <div class="centered" style="width:80%">
                    <p> Once logged in, you can exchange your waste for points that can later be redeemed
                        for various prizes. You can also compete for the top spot on the point leaderboard!
                        Here's the point earnings (per kilogram) for each waste type:</p>
                </div>
                <div class="inline-block grid-cols-1 grid-rows-1">
                    <table class="centered table mt-3 border">
                        <thead>
                            <tr>
                                <td>Glass: 70</td>
                                <td>Paper/Cardboard: 30</td>
                            </tr>
                            <tr>
                                <td>Plastic: 50</td>
                                <td>Organic: 15</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <br>

            <!-- Modal Button -->
            <div class="centered">
            {% if is_logged_in %}
                <label for="form-modal">
                    <a type="button" style="color:#005c37;" class="btn btn-accent rounded-full text-sm px-5">Make Deposit</a>
                </label>
            {% else %}
                <a href="{% url 'banksampah:login' %}"><label class="btn">Login to Make Deposit</label></a>
            {% endif %}
            </div>

            <!-- Form Modal -->
            <input type="checkbox" id="form-modal" class="modal-toggle" />
            <label class="modal" for="form-modal">
                <label class="modal-box bg-white">
                    <label for="form-modal" class="btn btn-sm btn-circle absolute right-2 top-2 text-black bg-white">✕</label>
                    <!-- New Deposit Form -->
                    <table class="table">
                        <form id="depositForm" method="POST" action="">
                            {% csrf_token %}
                            {{ deposit_form.as_table }}
                        </form>
                        <tr>
                            <td colspan="2" class="centered"><label for="form-modal" class="btn btn-accent rounded-full" onclick="submitDeposit(depositForm)">Submit</label></td>
                        </tr>
                    </table>
                </label>
            </label>

            <!-- Recent Deposit History (async)-->
            <br>
            <table class="table"> 
                <thead><th colspan="4" class="text-lg border-none">
                    Your Recent Deposits <span class="text-xs my-3">(Click on 'View More' to see details.)</span>
                </th></thead>
                {% if is_logged_in %}
                <thead class="bg-gray-100">
                    <th>Deposit Date</th>
                    <th>Waste Type</th>
                    <th>Mass(KG)</th>
                    <th></th>
                </thead>
                <tbody id="history-table"></tbody>
                {% else %}
                    <tr><td class="centered"> Login to see your recent deposits! </td></tr>
                {% endif %}
            </table>
            <br>

            <!-- Message info / alert (async) -->
            {% if messages %}
                {% for message in messages %}
                    <h1>{{message}}</h1>
                {% endfor %}
            {% endif %}
        </div>
        <br>

        {% endblock content %}
    </body>
</html>