{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        {% block meta %}
        <title>Deposit Sampah</title>
        {% endblock meta %}
    </head>

    <body>
        {% block content %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'js/deposit.js' %}"></script>
        <script>
            $(document).ready(() => setup());
        </script>

        <!-- Page Header -->
        {% if is_logged_in %}
            <p> Welcome back {{ username }}</p>
        {% endif %}
        <br>
        <button id="showModal">{{ action_button_label }}</button>

        <!-- New Deposit Form -->
        <form id="depositForm" method="POST" action="">
        {% csrf_token %}
            <table>
                <tr>
                    <th>Field Name</th>
                    <th>Field</th>
                </tr>
                {{ form.as_table }}
            </table>
        </form>
        <button onclick="submitDeposit(depositForm)">Submit</button>

        <!-- Recent Deposit Table  -->
        {% if is_logged_in %}
            <p> {{ username }}'s Recent Deposits </p>
            <table id="history-table">
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Mass</th>
                </tr>
            </table>
        {% else %}
            <p> Login to see your recent deposits! </p>
        {% endif %}
        <br>

        {% endblock content %}
    </body>
</html>