{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        {% block meta %}
        <title>Deposit Sampah</title>
        <link rel="stylesheet" href="{% static 'css/deposit.css' %}">
        {% endblock meta %}
    </head>

    <body>
        {% block content %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'js/deposit.js' %}"></script>
        <script>
            $(document).ready(() => setup());
        </script>

        <br>
        <div class="main-body">
            <!-- Upper Page / Header -->
            <div class="centered font-light">
                {% if is_logged_in %}
                <div class="text-3xl font-semibold leading-relaxed text-lg">
                    <span>Welcome back {{ username }}! You have </span>
                    <b><span class="point-count"></span></b>
                    <span> points.</span>
                </div>
                {% endif %} <br>

                <div class="centered" style="width:50%">
                    <p> Once logged in, you can exchange your waste for points that can later be redeemed
                        for various prizes. You can also compete for the top spot on the point leaderboard!</p>
                    <!-- <p>Setelah login, anda bisa menukarkan sampah untuk poin yang bisa di-<i>redeem</i> -->
                    <!-- untuk berbagai macam hadiah. Anda juga bisa berlomba untuk posisi teratas di leaderboard poin.</p> -->
                </div>
            </div>
            <br>

            <!-- Modal Button -->
            <div class="centered">
            {% if is_logged_in %}
                <label for="form-modal">
                    <a type="button" class="btn focus:outline-none focus:ring-4 focus:bg-accent-focus font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">Make Deposit</a>
                </label>
            {% else %}
                <a href="{% url 'banksampah:login' %}"><label class="btn">Login to Make Deposit</label></a>
            {% endif %}
            </div>

            <!-- Form Modal -->
            <input type="checkbox" id="form-modal" class="modal-toggle" />
            <label class="modal" for="form-modal">
                <label class="modal-box bg-white">
                    <label for="form-modal" class="btn btn-sm btn-circle absolute right-2 top-2 text-black bg-white">✕</label>
                    <!-- New Deposit Form -->
                    <table class="table">
                        <form id="depositForm" method="POST" action="">
                            {% csrf_token %}
                            {{ deposit_form.as_table }}
                        </form>
                        <tr>
                            <td colspan="2" class="centered"><label for="form-modal" class="btn btn-accent rounded-full" onclick="submitDeposit(depositForm)">Submit</label></td>
                        </tr>
                    </table>
                </label>
            </label>

            <!-- Recent Deposit History (async)-->
            <table class="table"> 
            <thead><th colspan="4" class="text-lg">Your Recent Deposits</th></thead>
                {% if is_logged_in %}
                    <thead class="bg-gray-100">
                        <th>Deposit Date</th>
                        <th>Waste Type</th>
                        <th>Mass(KG)</th>
                        <th>Description</th>
                    </thead>
                    <tbody id="history-table"></tbody>
                {% else %}
                    <tr><td class="centered"> Login to see your recent deposits! </td></tr>
                {% endif %}
            </table>
            <br>

            <!-- Message info / alert (async) -->
            {% if messages %}
                {% for message in messages %}
                    <h1>{{message}}</h1>
                {% endfor %}
            {% endif %}
        </div>
        <br>

        {% endblock content %}
    </body>
</html>