{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        {% block meta %}
        <title>Deposit Sampah</title>
        {% endblock meta %}
    </head>

    <body>
        {% block content %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'js/deposit.js' %}"></script>
        <script>
            $(document).ready(() => setup());
        </script>

        <p> Welcome back {{ username }}</p>
        <br>
        <h1>Halaman Deposit Sampah</h1>
        <br>
        <form method="POST" action="">
        {% csrf_token %}
            <table>
                <tr>
                    <th>Field Name</th>
                    <th>Field</th>
                </tr>
                {{ form.as_table }}
                <tr>
                    <th colspan="2">
                        <input type="submit" value="Submit"/>
                    </th>
                </tr>
            </table>
        </form>

        <p> {{ username }}'s Deposit History </p>
        <table id="history-table">
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Mass</th>
            </tr>
        </table>
        {% endblock content %}
    </body>
</html>